<button (click)="getObserverData()">Observalbe</button>
{{observableData1}} || {{observableData2}}
<br>
<button (click)="getSubjectData()">Subject</button>
{{subjectData1}} || {{subjectData2}}
<br>
<div class="theme-light" style="width:100px;height:50px;">
	<h1>Hello</h1>
</div>
<form [formGroup]="bioSection" (ngSubmit)="callingFunction()">

  <label>
    First Name:
    <input type="text" formControlName="firstName">
  </label>
<label>
    Last Name:
    <input type="text" formControlName="lastName">
  </label>
<label>
    Age:
    <input type="text" formControlName="age">
  </label>
<button type="submit">Submit Application</button>
</form>
<br>
<app-child>
  <h1 channelName>WebTechTalk</h1>
  <p class="desc">please subscribe the support</p>
</app-child>